@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* @apply bg-zinc-900 text-zinc-200; */
}

* {
  box-sizing: border-box;
}

[data-rehype-pretty-code-fragment] > div {
  @apply bg-black text-indigo-300 text-base rounded-t-lg py-4 pb-6 pl-4 -mb-2;
}

[data-rehype-pretty-code-title] {
  margin-top: 2em;
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0px !important;
}

mark {
  margin: 0 -0.4em;
  padding: 0.2em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
