### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Profiling output
*.asm
*.pdf

### Go Patch ###
/vendor
/Godeps
/tmp
/tmp/runner-build
/demo/tmp

.idea
*.iml
.vscode
.DS_Store
.swp
.release
main
super-graph
*-fuzz.zip
crashers
suppressions
release
.gofuzz
*-fuzz.zip
*.test
.firebase

