go 1.25.5

use (
	./agent
	./auth
	./cassandradriver
	./clickhousedriver
	./cmd
	./codesql
	./conf
	./core
	./examples
	./examples/pcb-fab/mockapi
	./hostedemu
	./mongodriver
	./plugin/otel
	./serv
	./tests
	./tools/mcp-sampling-client
	./wasm
)
