@tailwind base;

@css {
  h1 {
    @apply font-semibold text-3xl border-0 py-4
  }
  h2, h3, h4 {
    @apply font-semibold text-2xl border-0 py-4
  }
  p {
    @apply py-2 text-lg
  }
}

@tailwind components;

@tailwind utilities;
